//colours
$primary: #fb9fa4;
$secondary: #283041;
$tertiary: #d3d4d9;
$white: #ffff;
$black: #000;
//fonts
$baseFont: 'Poppins', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;
//font-size
$fontSize-std: 18px;
$fontSize-sm: 16px;
$fontSize-lg: 28px;

@import "components/setup";
@import "components/header";
@import "components/main";
@import "components/footer";
@import "components/variables";
@import "components/mediaquery";

html{
  font-size: 62.5%;
}

body{
  overflow-x: hidden;
}

img{
  width: 100%;
  // display: block;
}

.wrapper{
  max-width: 1170px;
  margin: 0 auto;
  width: 90%;
}


@media screen and (max-width: 700px) {
  input {
    display:block;
  }
}

//  ==== HOW TO MAKE SCSS PARTIAL FILES =======
// MAKE THE PARTIAL
// SAVE THE PARTIAL
// DELETE THE PARTIAL
// IMPORT THE PARTIAL
// SAVE style.scss

// ==== HOW TO CODE MIXIN =======
// @mixin primaryButton($primaryButton) {
//     font-size: $sizeValue;
//     color: blue;
//     font-weight: bold;
// }
