article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

header {
  background-color: #283041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 22px; }
  header .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 130px;
    height: 130px; }
  header .header-nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .header-nav-container .nav-btn {
      font-family: "Poppins", sans-serif;
      background-color: #d3d4d9;
      border: none;
      color: #283041;
      padding: 10px 28px;
      margin-left: 13px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      -webkit-transition-duration: 0.4s;
      -o-transition-duration: 0.4s;
      transition-duration: 0.4s; }
    header .header-nav-container .nav-btn:hover {
      background-color: #fb9fa4;
      color: #ffff; }
  header nav {
    /* Change the link color on hover */ }
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    header nav ul li {
      display: inline-block; }
    header nav li a {
      display: inline-block;
      color: #ffff;
      padding: 0px 18px;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
      font-size: 20px; }
    header nav li a:hover {
      background-color: #555;
      color: #fb9fa4; }

.headerTextContainer .headerNavBoxBurger {
  display: none;
  overflow-x: hidden; }
  .headerTextContainer .headerNavBoxBurger a {
    text-decoration: none;
    color: #283041;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease; }
  .headerTextContainer .headerNavBoxBurger a:hover {
    color: #fb9fa4; }
  .headerTextContainer .headerNavBoxBurger #menuToggle {
    display: block;
    position: absolute;
    top: 45px;
    right: 50px;
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .headerTextContainer .headerNavBoxBurger #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none; }
  .headerTextContainer .headerNavBoxBurger #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .headerTextContainer .headerNavBoxBurger #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  .headerTextContainer .headerNavBoxBurger #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  .headerTextContainer .headerNavBoxBurger #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
    -ms-transform: rotate(45deg) translate(-2px, -1px);
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
  .headerTextContainer .headerNavBoxBurger #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2); }
  .headerTextContainer .headerNavBoxBurger #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(0, -1px);
    -ms-transform: rotate(-45deg) translate(0, -1px);
    transform: rotate(-45deg) translate(0, -1px); }
  .headerTextContainer .headerNavBoxBurger #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    right: -100px;
    background: #d3d4d9;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  .headerTextContainer .headerNavBoxBurger #menu li {
    padding: 10px 0;
    font-size: 22px; }
  .headerTextContainer .headerNavBoxBurger #menuToggle input:checked ~ ul {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1; }

main .main-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  text-align: center;
  padding: 48px 0px; }

main .main-container p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 0.5% 7%; }
  main .main-container p span {
    font-weight: bold;
    text-decoration: underline; }

main .main-container img .hero-image {
  position: relative; }

main .main-container img::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/assets/alphaback.jpg);
  opacity: 0.5;
  z-index: -2; }

main .main-inner-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 0% 10%;
  margin-top: 8%; }

main .second-content {
  width: 100%;
  height: 100%;
  background-color: #d3d4d9; }

main .second-content-container {
  padding: 5% 0%;
  margin-top: 5%; }
  main .second-content-container h2 {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    color: #283041;
    text-align: center;
    margin: 2% 0; }
  main .second-content-container p {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    color: #283041;
    line-height: 1.6;
    padding: 0.5% 7%; }

main .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5%;
  margin-top: 6%;
  margin-bottom: 6%; }

main .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 3px;
  border-color: #d3d4d9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 0 3%; }
  main .card-box .card-box-text {
    margin: 3% 0; }
    main .card-box .card-box-text p {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 1.6;
      padding: 0.5% 7%; }

main .example-container {
  background-color: #283041;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  main .example-container .example-box {
    padding: 0 6%; }
    main .example-container .example-box p {
      color: #d3d4d9;
      font-family: "Poppins", sans-serif;
      font-size: 28px;
      padding: 0; }
      main .example-container .example-box p a {
        color: #fb9fa4;
        text-decoration: none; }
      main .example-container .example-box p a:hover {
        color: #f8c900; }
    main .example-container .example-box img {
      width: 400px;
      margin-bottom: 10%; }
  main .example-container .example-layer-box {
    position: relative; }
    main .example-container .example-layer-box .text-layer-box {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      opacity: 0;
      cursor: default;
      -webkit-transition: opacity 0.2s linear;
      -o-transition: opacity 0.2s linear;
      transition: opacity 0.2s linear; }
      main .example-container .example-layer-box .text-layer-box .text-layer {
        background-color: rgba(251, 159, 164, 0.7);
        overflow: hidden;
        text-align: center;
        min-height: 92%; }
      main .example-container .example-layer-box .text-layer-box p {
        color: #283041;
        font-size: 55px; }
    main .example-container .example-layer-box .text-layer-box:hover {
      opacity: 1; }

main .exercise-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

main .chart-container {
  padding: 3% 5%; }
  main .chart-container h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px; }
  main .chart-container span {
    font-weight: bold;
    text-decoration: underline; }
  main .chart-container .chart-text {
    padding: 0% 4%; }
  main .chart-container .chart-body {
    max-width: 500px;
    max-height: 500px; }

main .form-container {
  padding: 2%; }
  main .form-container p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    padding: 0% 4%; }
    main .form-container p span {
      font-weight: bold;
      text-decoration: underline; }
  main .form-container .form-text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    main .form-container .form-text-box img {
      max-width: 500px; }
  main .form-container form .question-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
    font-size: 18px; }
    main .form-container form .question-section .form-radio-box {
      padding: 2% 16%; }
    main .form-container form .question-section .form-submit-btn {
      padding: 2% 16%; }
      main .form-container form .question-section .form-submit-btn .alert-submit-msg,
      main .form-container form .question-section .form-submit-btn .try-again-msg {
        color: #283041; }
      main .form-container form .question-section .form-submit-btn input[type=submit] {
        font-family: "Poppins", sans-serif;
        background-color: #d3d4d9;
        border: none;
        color: #283041;
        padding: 10px 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      main .form-container form .question-section .form-submit-btn input[type=submit]:hover {
        background-color: #fb9fa4;
        color: #ffff; }

main .giphy-container {
  max-width: 30%;
  height: 30%; }
  main .giphy-container .correct-msg {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #283041;
    text-align: center; }

main .end-section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #283041;
  height: 100%; }
  main .end-section-container .next-btn {
    font-family: "Poppins", sans-serif;
    background-color: #d3d4d9;
    border: none;
    color: #283041;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 2% 0%; }
  main .end-section-container .next-btn:hover {
    background-color: #fb9fa4;
    color: #ffff; }

@media (max-width: 1175px) {
  main .main-container p {
    padding: 0.5% 0%; }
  main .main-container h1 {
    padding: 0; } }

@media (max-width: 975px) {
  main .main-inner-container {
    padding: 0% 6%;
    top: 45%; }
  main .exercise-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  main .chart-container .chart-body {
    max-width: 100%;
    max-height: 100%; }
  main .giphy-container {
    max-width: 60%;
    height: 60%; } }

@media (max-width: 945px) {
  main .main-container {
    min-height: 600px; }
    main .main-container .hide {
      display: none; }
  main .hero-text {
    width: 100%;
    height: 100%;
    display: inline-block; }
  main .main-inner-container {
    top: 53%; }
  main .card-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  main .card-box {
    margin: 3% 20%; }
  main .example-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

@media (max-width: 800px) {
  main .main-container {
    min-height: 665px; }
  main .main-inner-container {
    top: 60%; } }

@media (max-width: 740px) {
  main .main-container {
    min-height: 800px; }
  main .main-inner-container {
    top: 70%; }
  main .card-box {
    margin: 3% 15%; }
  main .form-container form .question-section .form-radio-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    main .form-container form .question-section .form-radio-box input[type=radio] {
      margin-right: 2%; }
  header .header-nav-container {
    display: none; }
  .headerTextContainer .headerNavBoxBurger {
    display: block; } }

@media (max-width: 590px) {
  main .main-container {
    min-height: 900px; }
  main .main-inner-container {
    top: 80%; } }

@media (max-width: 514px) {
  main .main-container {
    min-height: 1000px; }
    main .main-container h1 {
      font-size: 24px; }
  main .main-inner-container {
    top: 85%; }
  main .card-box {
    margin: 3% 10%; }
  main .giphy-container {
    max-width: 100%;
    height: 100%; } }

@media (max-width: 450px) {
  main .main-container {
    min-height: 1050px; }
    main .main-container h1 {
      font-size: 20px; }
  main .main-inner-container {
    top: 90%; }
  main .example-container .example-box img {
    width: 350px; }
  main .example-container .example-box p {
    font-size: 24px; }
  main .example-container .example-layer-box .text-layer-box p {
    font-size: 50px; } }

@media (max-width: 440px) {
  main .main-container {
    min-height: 900px; }
    main .main-container h1 {
      font-size: 18px; }
    main .main-container p {
      font-size: 16px; }
  main .main-inner-container {
    top: 80%; }
  main .card-box {
    margin: 3% 5%; } }

@media (max-width: 395px) {
  main .main-container {
    min-height: 1000px; }
  main .main-inner-container {
    top: 85%; }
  main .example-container .example-box img {
    width: 300px; }
  main .example-container .example-box p {
    font-size: 24px; }
  main .example-container .example-layer-box .text-layer-box p {
    font-size: 42px; }
  main .form-container form .question-section {
    font-size: 18px; } }

@media (max-width: 360px) {
  main .main-container {
    min-height: 1100px; }
    main .main-container p {
      font-size: 15px; }
  main .main-inner-container {
    top: 85%; }
  main .card-box {
    margin: 3% 0%; } }

@media (max-width: 335px) {
  main .main-container {
    min-height: 1100px; }
  main .main-inner-container {
    top: 95%; }
  main .example-container .example-box img {
    width: 250px; }
  main .example-container .example-box p {
    font-size: 20px; }
  main .example-container .example-layer-box .text-layer-box p {
    font-size: 38px; }
  main .form-container form .question-section {
    font-size: 16px; } }

@media (max-width: 320px) {
  main .main-container {
    min-height: 1000px; }
  main .main-inner-container {
    top: 110%; } }

html {
  font-size: 62.5%; }

body {
  overflow-x: hidden; }

img {
  width: 100%; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  width: 90%; }

@media screen and (max-width: 700px) {
  input {
    display: block; } }
